- name: Run Dagger Module
  uses: dagger/dagger-for-github@v8.2.0
  with:
    verb: call
    args: build-and-push --src=. --username=${{ secrets.DOCKERHUB_USER }} --repo-name=seanaigent --tag=${{ github.sha }} --docker-hub-token=env:DOCKERHUB_TOKEN
  env:
    DOCKERHUB_TOKEN: ${{ secrets.DOCKERHUB_TOKEN }}